* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  padding: 20px 30px;
  img {
    transform: scale(1.2);
  }
}

.main {
  padding: 0 10px 30px;
  &__order, &__users {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__order {
    margin: 20px 0 40px;
  }
  .food-table, .users-table {
    tbody{
      tr{
        td:nth-child(2) {
          max-width: 600px;
          white-space: break-spaces;
        }
      }
    }
  }
}

